    <div class="container-fluid my-navbar">
        <a class="logo-home-page" routerLink="/">
            <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gNGSTMF4HMDsf_cdfPMfdb_QSv8wAH2klfZQOY-is81SGLESmUihKCfQqWd1_S6t9AvJ4FZCOCP97PQB4kteYJ2cJMKpw=w1919-h892" alt="seven logo" >
        </a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink fragment="">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink fragment="about-us" >ABOUT US</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink fragment="founder">MEET OUR TEAM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink fragment="what-we-will-offer" >SERVICES</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink fragment="portfolio">PORTFOLIO</a>
            </li>

        </ul>

    </div>

