<section id="cover-page" class="main">
    
        <app-navbar></app-navbar>

</section>

<section id="portfolio">
    <div class="container">
        <div class="row portfolio-row">
            <img src="https://i.imgur.com/KL13BDr.png">
        </div>

        <div class="row portfolio-row">
            <img src="https://i.imgur.com/ov2dZn4.png">
        </div>

        <div class="row portfolio-row">
            <img src="https://i.imgur.com/vUHkp0N.png">
        </div>

        <div class="row portfolio-row">
            <img src="https://i.imgur.com/D6QQPSs.png">
        </div>
    </div>
</section>