<section id="cover-page" class="main">
    
        <app-navbar></app-navbar>

</section>

<section id="portfolio">
    <div class="container">
        <div class="row portfolio-row">
            <img src="../../../assets/Portofolio/Artboard_1_copy_8.png">
        </div>

        <div class="row portfolio-row">
            <img src="../../../assets/Portofolio/Artboard_1_copy_9.png">
        </div>

        <div class="row portfolio-row">
            <img src="../../../assets/Portofolio/Artboard_1_copy_10.png">
        </div>

        <div class="row portfolio-row">
            <img src="../../../assets/Portofolio/Artboard_1_copy_11.png">
        </div>
    </div>
</section>