<section id="cover-page" class="main">
    <!-- <div class="container-fluid my-navbar">
        <a class="logo-home-page" href="/">
            <img src="../../../assets/Logo/4.png" alt="serven logo" style="width:96px;height:42px">
        </a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="#">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="#about-us">ABOUT US</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#founder">MEET OUR TEAM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#what-we-will-offer">SERVICES</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#portfolio">PORTFOLIO</a>
            </li>
        </ul>

    </div> -->
    <app-navbar></app-navbar>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
</section>

<section id="about-us">
    <div class="container row about-us-content">
        <div class="col-lg-5"></div>
        <div class="col-lg-4">
            <h1 class="about-us-header">
                About us
            </h1>
            <p>
                Your steps that start with us are going in a scientific and modern way to make you implement the
                marketing
                mix to be your steps to success closer and make you in the top.
            </p>
        </div>

        <br> <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br>
        <!-- <img src="../../../assets/2.About_Us.png" style="visibility:hidden;"> -->
    </div>


</section>

<section id="founder">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 "></div>
            <div class="col-lg-7 fixing-founder">
                <h1 class="founder-header">
                    Meet our team
                </h1>

                <h3 class="founder-name">Ammar Mhana</h3>
                <h3 class="founder-role">Founder</h3>
                <div class="founder-brief">
                    <p> - Medical & Healthcare Marketing & Management
                    <p>
                    <p> - Bachelor Degree in Marketing</p>
                    <p> - 6 years experience of medical and healthcare marketing </p>
                    <p> - Building marketing strategies </p>
                    <p> - Marketing data analysis </p>
                    <p> - Content creator </p>
                    <p> - Managing digital campaigns </p>
                    <p> - Offline marketing & public relationship </p>
                    <p> - Top Clients : </p>
                </div>

                <div class="top-clients">
                    <img src="../../../assets/3.Founder_Page/1.png">
                    <img src="../../../assets/3.Founder_Page/2.png">
                    <img src="../../../assets/3.Founder_Page/3.png">
                    <img src="../../../assets/3.Founder_Page/4.png">
                </div>

            </div>
            <div class="col-lg-3 fixing-founder">
                <img src="../../../assets/3.Founder_Page/Photo-edited.png" class="img-thumbnail founder-img"
                    alt="founder image">
            </div>
        </div>
    </div>

    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>


</section>

<section id="team_1">
    <div class="container">
        <div class="row team_1">
            <div class="col-lg-1"></div>

            <div class="col-lg-3 col-sm-11">
                <img class="founder-img" src="../../../assets/4.Team_Page_1/1.png">
                <h4 class="team-1-name">Mohamed Ashraf</h4>
                <h6 class="team-1-profession"> Senior Performance Marketing</h6>
                <div class="team-1-experience">
                    <p>- +4 years of experience in ( Medical -
                        Beauty & Caring - SAAS - E-Commerce ) industries.) </p>

                    <p> - Marketing funnel building.</p>
                    <p> - Media tracing and analysis.</p>
                    <p> - Present work in : UAE - KSA - Egypt</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-11">
                <img class="founder-img" src="../../../assets/4.Team_Page_1/2.png">
                <h4 class="team-1-name">Mohamed Ashraf</h4>
                <h6 class="team-1-profession"> Senior Performance Marketing</h6>
                <div class="team-1-experience">
                    <p>- +4 years of experience in ( Medical -
                        Beauty & Caring - SAAS - E-Commerce ) industries.) </p>

                    <p> - Marketing funnel building.</p>
                    <p> - Media tracing and analysis.</p>
                    <p> - Present work in : UAE - KSA - Egypt</p>
                </div>
            </div>

            <div class="col-lg-3">
                <img class="founder-img" src="../../../assets/4.Team_Page_1/3.png">
                <h4 class="team-1-name">Mohamed Ashraf</h4>
                <h6 class="team-1-profession"> Senior Performance Marketing</h6>
                <div class="team-1-experience">
                    <p>- +4 years of experience in ( Medical -
                        Beauty & Caring - SAAS - E-Commerce ) industries.) </p>

                    <p> - Marketing funnel building.</p>
                    <p> - Media tracing and analysis.</p>
                    <p> - Present work in : UAE - KSA - Egypt</p>
                </div>
            </div>


        </div>
    </div>
    <br> <br> <br> <br>
    <br> <br> <br> <br>

</section>

<section id="team_2">
    <div class="container">

        <div class="row team_2">
            <div class="col-lg-6">
                <div class="team-2-member team-2">
                    <img src="../../../../../assets/5.Team_Page_2/nour.png" class=" founder-img">
                </div>
                <h4 class="team-1-name">Nour-Eldin Ahmed</h4>
                <h6 class="team-1-profession"> Full stack developer</h6>
                <div class="team-1-experience">
                    <p>- +1 years of experience in </p>
                    <p>(Bug
                        Hunting - Block Chain -
                        E-Learning) industries.</p>
                    <p> -Front-end : HTML, CSS, JS, React JS, Angular.</p>
                    <p> - Back-end : Node JS, Express JS.</p>
                    <p>Python, Django, MySQL, Postgresql.</p>
                    <p> - Present work in : UAE - KSA - Egypt</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="team-2-member team-2">
                    <img src="../../../../../assets/5.Team_Page_2/2.png" class=" founder-img">
                </div>
                <h4 class="team-1-name">Abdullah Muhammad</h4>
                <h6 class="team-1-profession">Video Production Lead</h6>
                <div class="team-1-experience">
                    <p>- +4 years of experience in ( Tech -
                        Food & Beverage - Music -
                        E-Commerce ) industries.</p>
                    <p>- Video Editing and Photography.</p>
                    <p>- Simple 2D Animation.</p>
                    <p>- Present work in : UAE - KSA - Egypt</p>
                </div>
            </div>
        </div>

    </div>
    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row portfolio">
            <h1>
                Portfolio
            </h1>
            <a routerLink="/portfolio">
                <img class="portfolio-img" src="../../../../../assets/8.Portofolio/SSCC_Logo-01.png">
            </a>

        </div>
    </div>

    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>  <br> <br>
</section>

<section id="what-we-will-offer">
    <div class="container">
        <div class="row">
            <h3>What we will offer</h3>
        </div>

        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-1.png">
                <p>SEO, Search Engine Optimization</p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-6.png">
                <p>Growth of sales</p>
            </div>
        </div>
        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-2.png">
                <p>Paid media</p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-7.png">
                <p>Annual plan for marketing campaigns (Awareness campaigns, Aggressive campaigns, international events
                    campaigns)</p>
            </div>
        </div>

        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-3.png">
                <p>E-mail campaigns </p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../../../assets/7.Our_Services/Vector_Smart_Object-8.png">
                <p>Google Ads</p>
            </div>
        </div>

        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-4.png">
                <p>Sonic brand</p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-9.png">
                <p>Animation videos</p>
            </div>
        </div>

        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-5.png">
                <p>Content creation</p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-10.png">
                <p>Identity (Re branding)</p>
            </div>
        </div>

        <!--1st row -->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-14.png">
                <p>Growth of sales</p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-11.png">
                <p>Brochure, booklets & stickers</p>
            </div>
        </div>

        <!--7th row-->
        <div class="row">
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-13.png">
                <p>Identity inside branches </p>
            </div>
            <div class="col-lg-6 offers">
                <img src="../../../assets/7.Our_Services/Vector_Smart_Object-12.png">
                <p>Branding</p>
            </div>
        </div>

    </div>
    <br> <br> <br> <br> <br>

</section>

<section id="thank-you">
    <br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br>
    <br><br> <br> <br> <br> <br><br> <br> <br> <br> 
</section>